<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drycapp.finalyearapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //Registration Activites and User Control
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LandingActivity" />
        <activity android:name=".LostActivity" />
        //Quiz Activities
        <activity
            android:name=".QuizLocationActivity"
            android:parentActivityName=".LandingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandingActivity" />
        </activity>
        <activity
            android:name=".QuizEventActivity"
            android:parentActivityName=".QuizLocationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuizLocationActivity" />
        </activity>
        <activity
            android:name=".QuizBudgetActivity"
            android:parentActivityName=".QuizPartySizeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuizPartySizeActivity" />
        </activity>
        <activity
            android:name=".QuizPartySizeActivity"
            android:parentActivityName=".QuizEventActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuizEventActivity" />
        </activity>
        //Settings and Profile Activities
        <activity android:name=".MyEventsActivity" />
        <activity android:name=".InviteActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".TicketsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".UpdatePassword" />
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".QuizResultsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuizResultsActivity" />
        </activity>
        <activity android:name=".QuizResultsActivity" />
        <activity android:name=".EventsDisplayActivity" />
        <activity android:name=".EventDetailActivity"></activity>
    </application>

</manifest>